* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    color: #E5E8E8;
    background-color: #8D9797;
}

header {
    padding: 0px 35px;
    background-color: #E5E8E8;
    padding-top: 5px;
    padding-right: 15px;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    background-image: url(../images/pexels-pixabay-270360.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
}

header h1 {
    font-weight: bold;
    font-size: 46px;
    color: #E5E8E8;
    margin: 0;
}

header a {
    color:#E5E8E8;
    text-decoration: none;
}

header nav {
    float: right;
    margin: -45px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
    
}

.hero {
    background-image: url(../images/pexels-pixabay-270360.jpg);
    background-size: cover;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
}

.hero-cta {
    width: 35%;
    text-align: center;
    margin: 3.5%;
    color: #E5E8E8;
    font-size: 18px;
    line-height: 1.2;
}

.hero-cta h2 {
    font-style: italic;
    font-size: 55px;
    color: #E5E8E8;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.section-title {
  font-size: 40px;
  color: #E5E8E8;
  text-align: center;
  border-bottom: 3px solid;
  padding-bottom: -30px;
  width: 35%;
  margin: 35px auto 35px auto;
}

#me {
    border-radius: 50%;
    width: 8%;
    height: 5%;
    float: left;
    padding: 10px;
}

.about {
    padding: 30px 100px 30px 100px;
}

.about h2 {
    margin-bottom: var(--bottom-margin);
}

.about p {
    line-height: 1.5;
    padding: 30px
}

.projects {
    text-align: center;
}


.projectsinfo {
    width: 100%;
    margin: 0 auto;
}

.project {
    margin: 20px;
    flex: 1;
}

.project img {
    width: 40%;
}

.project-style {
    padding: 25px;
    line-height: 1.3;
}

.project-name h3 {
    font-size: 28px;
    
}

#projectimage {
    width: 15%;
    height: 15%;
}

.contact {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
}

footer {
    padding: 20px 35px;
    background-color: #4E545C;
    color:#E5E8E8; 
    text-align: center;
    width: 100%;
    height: 60px;
}

