* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: #e5e8e8;
  background-color: #8d9797;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  padding: 0px 35px;
  background-color: #e5e8e8;
  padding-top: 5px;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  background-image: url(../images/pexels-pixabay-270360.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
}

header h1 {
  font-weight: bold;
  font-size: 46px;
  color: #e5e8e8;
  margin: 0;
}

header nav a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 22px;
  color: #e5e8e8;
}

.hero {
  background-image: url(../images/pexels-pixabay-270360.jpg);
  background-size: cover;
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
  align-items: flex-start;
  background-attachment: fixed;
  background-position: 80%;
}

.hero-cta {
  width: 35%;
  text-align: center;
  margin: 3.5%;
  color: #e5e8e8;
  font-size: 18px;
  line-height: 1.2;
}

.hero-cta h2 {
  font-style: italic;
  font-size: 55px;
  color: #e5e8e8;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* about me section */

.about {
  padding-bottom: 50px;
}

.me {
  border-radius: 50%;
  max-width: 10%;
  padding: 10px;
  float: left;
  margin-left: 80px;
}

.about p {
  line-height: 1.5;
  padding: 30px;
  clear: right;
}

.projects2 {
  display: flex;
  justify-content: space-around;
  padding-top: 200px;
}
/* projects section */

.projectsinfo {
  align-items: center;
}

.projectsinfo,
.flex-container {
  justify-content: space-around;
  text-align: center;
}

.section-title {
  font-size: 40px;
  color: #e5e8e8;
  text-align: center;
  border-bottom: 3px solid;
  padding-bottom: -30px;
  width: 35%;
  margin: 35px auto 35px auto;
}

.project-name,
.project p {
  font-size: 20px;
  text-align: center;
}

#projectimage1 {
  width: 15%;
  height: 15%;
}

#projectimage2 {
  width: 80%;
  height: 80%;
}

.contact {
  padding-bottom: 30px;
  padding-top: 30px;
  line-height: 2;
  text-align: center;
}

footer {
  background-color: #4e545c;
  color: #e5e8e8;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 60px;
  text-align: center;
  padding: 10px;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
  }

  header h1 {
    width: 100%;
    text-align: left;
  }

  header nav {
    margin-top: 0px;
    width: 100%;
    padding-left: 200px;
    justify-content: center;
  }

  header nav a {
    font-size: 20px;
  }

  footer h2,
  footer div {
    text-align: center;
    width: 100%;
  }

  .hero-cta,
  .hero-form {
    width: 100%;
  }

  .hero-cta {
    text-align: center;
  }

  .section-title {
    width: 80%;
  }

  .projects {
    flex: 0 70%;
  }

  #me {
    width: 20%;
  }

  #projectimage1 {
    width: 20%;
  }

  #projectimage2 {
    width: 40%;
  }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  section {
    padding: 10px 15px;
  }

  header {
    padding-bottom: 0;
    justify-content: center;
  }

  header h1 {
    width: 25%;
    text-align: center;
  }

  header nav {
    margin-top: 10px;
    margin-left: -150px;
    width: 1000%;
    justify-content: center;
  }

  header nav a {
    font-size: 20px;
  }

  .hero-cta {
    width: 100%;
    text-align: right;
  }

  .hero {
    width: 100%;
  }

  #me {
    width: 30%;
  }

  #projectimage1 {
    width: 30%;
  }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  section {
    padding: 30px 15px;
  }

  header {
    padding-bottom: 0;
    justify-content: center;
  }

  header h1 {
    width: 5%;
    text-align: center;
    font-size: 20px;
  }

  header nav {
    margin-top: 0px;
    margin-left: 50px;
    width: 100%;
    justify-content: center;
  }

  header nav a {
    font-size: 10px;
    margin-left: 50px;
  }
}
